/*!
 *   AdminLTE v2.4.3
 *   Author: Almsaeed Studio
 *	 Website: Almsaeed Studio <https://adminlte.io>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
 */

// Bootstrap
//--------------------------------------------------------
@import "../bootstrap/mixins";
@import "../bootstrap/variables";

// MISC
//--------------------------------------------------------
@import "mixins/mixins";
@import "variables";
@import "core";


// COMPONENTS
//--------------------------------------------------------
@import "components/alerts";
@import "components/boxes";
@import "components/buttons";
@import "components/dropdown";
// @import "components/header";
// @import "sidebar";
// @import "sidebar-mini";
// @import "control-sidebar";
// @import "forms";
// @import "progress-bars";
// @import "small-box";
// @import "info-box";
// @import "timeline";
// @import "buttons";
// @import "callout";
// @import "navs";
// @import "products";
// @import "table";
// @import "labels";
// @import "direct-chat";
// @import "users-list";
// @import "carousel";
// @import "modal";
// @import "social-widgets";
// @import "treeview";

// MISCELLANEOUS
//--------------------------------------------------------
@import "miscellaneous/miscellaneous";